@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Oculta las barras de scroll (vertical y horizontal) en todo el sistema */
    * {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    *::-webkit-scrollbar {
        display: none;
        width: 0;
        height: 0;
    }
}

@layer utilities {
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
}
